.hero-section {
    /* Imagen de fondo de una Les Paul */
    background-image: url('https://images.unsplash.com/photo-1550985543-f47f38aee65d?q=80&w=1920&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    height: 85vh; /* Ocupa casi toda la pantalla */
    border-radius: 15px;
    margin-bottom: 20px;
}